flask
flask-wtf
PyJWT
python-dotenv
{%- if config.database in ['PostgreSQL', 'MySQL', 'SQLite'] or "SQLAlchemy / ORM" in config.features %}
flask-sqlalchemy
{%- if config.database == 'PostgreSQL' %}
psycopg2-binary
{%- endif %}
{%- if config.database == 'MySQL' %}
pymysql
cryptography
{%- endif %}
{%- endif %}
{%- if config.database == 'MongoDB' %}
mongoengine
{%- endif %}
{%- if "Alembic / DB Migrations" in config.features %}
flask-migrate
{%- endif %}
{%- if "Redis / Cache" in config.features %}
flask-caching
{%- endif %}
{%- if 'Redis / Cache' in config.features or 'Celery / RQ Background Tasks' in config.features %}
redis
{%- endif %}
{%- if "Mail Service" in config.features %}
flask-mail
{%- endif %}
{%- if "Celery / RQ Background Tasks" in config.features %}
celery
{%- endif %}
