{%- if config.database in ['PostgreSQL', 'MySQL', 'SQLite'] %}
from .db import db, migrate
{%- endif %}
{%- if config.database == 'MongoDB' %}
from .db import db
{%- endif %}
{%- if 'Redis / Cache' in config.features %}
from .cache import cache
{%- endif %}
{%- if 'Mail Service' in config.features %}
from .mail import mail
{%- endif %}
{%- if 'JWT / Auth Template' in config.features %}
from .jwt import jwt
{%- endif %}

def init_extensions(app):
    {%- if config.database in ['PostgreSQL', 'MySQL', 'SQLite'] %}
    db.init_app(app)
    migrate.init_app(app, db)
    {%- endif %}
    
    {%- if config.database == 'MongoDB' %}
    db.init_app(app)
    {%- endif %}

    {%- if 'Redis / Cache' in config.features %}
    cache.init_app(app)
    {%- endif %}

    {%- if 'Mail Service' in config.features %}
    mail.init_app(app)
    {%- endif %}

    {%- if 'JWT / Auth Template' in config.features %}
    jwt.init_app(app)
    {%- endif %}
