"""
Minimal FastAPI Application.
"""
from fastapi import FastAPI
import uvicorn

app = FastAPI(title="{{ config.name }}")

@app.get("/")
def read_root():
    """Root endpoint."""
    return {"message": "Hello from Minimal FastAPI App!"}

if __name__ == "__main__":
    uvicorn.run("main:app", host="0.0.0.0", port=8000, reload=True)
